<template name="home">
	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		<nav class="uk-navbar">
			<a href="#" class="uk-navbar-brand">HTPC Dashboard</a>
		    <ul class="uk-navbar-nav">
		        <li class="uk-parent"><a href="">Sabnzbd</a></li>
		        <li class="uk-parent"><a href="">Plex</a></li>
		    </ul>
		</nav>
		<div class="uk-grid uk-grid-collapse">
			<div class="uk-width-large-1-1 uk-visible-large">
				<div class="uk-panel uk-panel-box">
					CRAP	
				</div>
			</div>
		    <div class="uk-width-medium-1-2">
		    	<div class="uk-panel uk-panel-box">
		    		MY GOD JIM
		    	</div>
		    </div>
		    <div class="uk-width-medium-1-2">
		    	<div class="uk-panel uk-panel-box">
		    		I'M A DOCTOR, NOT A DOORSTOP!
		    	</div>
		    </div>
		</div>
	</div>
</template>