<template name="sabnzbd">
  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		{{> menu}}
		<div class="uk-grid uk-grid-collapse">
			<div class="uk-width-large-1-1 uk-visible-large">
				<div class="uk-panel uk-panel-box">
					Looks like sabnzbd!
				</div>
			</div>
		    <div class="uk-width-medium-1-2">
		    	<div class="uk-panel uk-panel-box">
		    		sabstatus
		    	</div>
		    </div>
		    <div class="uk-width-medium-1-2">
		    	<div class="uk-panel uk-panel-box">
            sab controls
		    	</div>
		    </div>
		</div>
	</div>
</template>
